@import 'vars';
@import 'base';
@import 'header';

@import 'index';
@import 'product';
@import 'footer';





.filter-sort {
    height: 132px;
    padding-top: 39px;

    background: #FFF;
    position: relative;
    display: flex;

    box-sizing: border-box;

}

.filter {
    padding-top: 13px;
    box-sizing: border-box;
    width: 360px;
    position: relative;
    z-index: 10;

    &__content {
        padding: 0 16px 16px;

        background-color: white;
    }

    &[open] {
        background: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__heading {
        color: $main_color;
    }

    &[open] path {
        fill: $main_color;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;

        cursor: pointer;
    }

    &__heading {
        color: $color_text;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }


    &__item {
        margin-top: 16px;
    }

    &__item[open] .filter__head {
        color: $main_color;
    }

    &__head {
        padding: 8px 11px 11px;
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        border-left: 5px solid $main_color;
        border-bottom: 1px solid #ebebeb;

        cursor: pointer;
    }

    &__link-box {
        padding: 24px 12px;
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $main_color;
        }
    }
}

.sort {
    margin-left: 30px;
    padding-top: 12px;
    display: flex;
    gap: 27.98px;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        position: absolute;
        top: 22px;
        left: -9px;
        background: #fff;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;

        display: flex;
        flex-direction: column;
        gap: 8px;
        z-index: 10;
    } 

    &__check {
        display: flex;
        align-items: center;
        gap: 9px;

        font-style: normal;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #6F6E6E;
    }
}

#sort__check1,
#sort__check2,
#sort__check3,
#sort__check4 {
    cursor: pointer;
}

.main-product {
    background-color: #F7F7F7;
    position: relative;

    &__img {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 11px;
        padding-bottom: 42px;

        border: 1px solid rgba(234, 234, 234, 1);
    }

    &__button {
        width: 47px;
        height: 47px;
        border: none;
        background-color: #c0c0bb;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }

    &__button:hover path {
        fill: $main_color
    }


    &__center {
        display: flex;
        justify-content: center;
        background: #FFF;
    }

    &__info {
        margin-top: -65px;
        margin-bottom: 129px;
        padding: 65px 250px;

        background-color: #FFFFFF;

        border: 1px solid rgba(234, 234, 234, 1);

        display: flex;
        flex-direction: column;
        align-items: center;

        & h4 {
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            color: $main_color;
        }

        & span {
            width: 63px;
            border: 2px solid $main_color;
            margin: 12.1px 0;
        }

        & h2 {
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            color: #4D4D4D;
        }

        &__text {
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            color: #5E5E5E;

            margin: 48.41px 0 32.27px;
        }

        &__price {
            font-family: Lato;
            font-size: 24px;
            font-weight: 300;
            line-height: 29px;
            color: $main_color;

            margin-bottom: 65.04px;
        }

        &__features {
            margin: 0px 0 48.91px;
            padding-top: 65.05px;
            display: flex;
            justify-content: center;
            gap: 42px;
            width: 641px;
            border-top: 1px solid rgba(234, 234, 234, 1);
        }

        &__features button {
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: #6F6E6E;
            background-color: white;

            border: none;
            cursor: pointer;
        }

        &__klick {
            display: flex;
            align-items: center;
            gap: 9px;
        }

        &__button {
            padding: 14.62px 57px 8.57px 24px;
            display: flex;
            align-items: center;
            gap: 22.91px;

            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            color: $main_color;
            border: 1px solid $main_color;
        }

        &__button:hover {
            background-color: $main_color;
            color: white;
            transition: .3s;
        }

        &__button:hover path {
            fill: white;
        }
    }

    &__bottom {
        background: #FFF;
        margin-bottom: 128px;
    }

    &__bottom__items {
        // padding: 128px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

}

.product-selection {
    padding-top: 96px;
    padding-bottom: 128px;

    display: flex;
    justify-content: space-between;

    &__card {
        width: 652px;
        // max-height: 306px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__card-first,
    &__card-second {
        display: flex;
        box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);

        margin-bottom: 40px;

    }

    &__card-info {
        padding: 22px 0 0 32px;

        color: #575757;
        font-size: 22px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        gap: 125px;
        margin-bottom: 36px;

    }

    &__title {
        color: #222;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &__button {
            padding-top: 7px;
            border: none;
            background-color: white;
        }
        &__button:hover {
            cursor: pointer;
        }
    }

    &__price::after {
        content: '$300';
        color: $main_color;
    }

    &__input {
        display: flex;
        gap: 24px;
        
        & input {
            border: 1px solid rgba(234, 234, 234, 1);
            width: 44px;
            height: 25px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        padding: 16px 41px 17px 39px;

        color: #000;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        background-color: #FFFFFF;
        border: 1px solid #A4A4A4;

        display: flex;
        flex-wrap: nowrap;

        cursor: pointer;
    }

    &__button:hover {
        background-color: #F16D7F;
        color: #fff;
        transition: .3s;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 57px;

        &__address {
            padding-top: 22px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__address-title {
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__address-input {
            width: 360px;
            padding: 13px 0 16px 17.14px;
            border: 1px solid #A4A4A4
        }

        &__address-submit {
            padding: 10px 12px;
            width: 102px;

            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            background-color: #fff;
            border: 1px solid #A4A4A4;

            cursor: pointer;
        }

        &__address-submit:hover {
            background-color: #F16D7F;
            color: #fff;
            transition: .3s;
        }
    }

    &__purchase {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        padding: 39px 37px 42px 44px;
        background-color: #F5F3F3;

        &__price-first {
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__price-first::after {
            content: '$900';
            padding-left: 25px;
            color: #4A4A4A;
        }

        &__price-second {
            margin-top: 12px;
            margin-bottom: 21px;
            margin-right: 5px;

            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__price-second::after {
            content: '$900';
            padding-left: 25px;
            color: $main_color;
        }

        &__line {
            width: 275px;
            border-bottom: 1px solid #E2E2E2;
        }

        &__button {
            width: 273px;
            padding: 15px 0 16px;
            margin-top: 17px;
            margin-bottom: 42px;
            margin-right: 10px;
            border: none;
            background-color: $main_color;
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            cursor: pointer;
        }


    }
}




@media (max-width: 768px),
(max-width: 1024px) {
    .header__left {
        margin-left: 32px;
    }

    .header__right {
        margin-right: 32px;
    }

    .promo__title {
        font-size: 40px;
        line-height: normal;
    }

    .promo__heading {
        font-size: 22px;
        line-height: normal;
    }

    .item__big {
        min-height: auto;
    }

    .sale {
        margin: 0 16.5px 0 30px;
        gap: 19px;
    }

    .product-box__content {
        gap: 16px;
        padding: 0 16px;
    }

    .product__button {
        margin: 32.98px 0 71.02px;
    }

    .subscription {
        min-height: 693px;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 50px;
        background-position: left;
    }

    .advantages {
        display: grid;
        justify-content: center;
        padding-left: 20px;
    }

    .figure-text {
        font-size: 16px;
    }

    .footer {
        padding: 0 40px 0 60px;
    }
}

@media (max-width: 425px) {
    .img__sale {
        width: 425px;
    }
}

@media (max-width: 425px),
(max-width: 375px),
(max-width: 320px) {
    .header__link-site {
        display: none;
    }

    .promo {
        padding: 148px 0;
    }

    .promo__img {
        display: none;
    }

    .promo__title {
        font-size: 38px;
    }

    .promo__heading {
        font-size: 20px;
    }

    .sale {
        display: flex;
        flex-direction: column;
    }

    .item__big {
        height: 111px;
        background-size: cover;
        background-position: center;
        background-image: url(../images/advertisement004.jpg);
    }

    .img__big {
        display: none;
    }

    .product-box__text {
        font-size: 14px;
        margin-top: 0;
    }

    .subscription {
        padding-left: 20px;
    }

    .input-email-text {
        font-size: 14px;
    }

    .input-email-title {
        font-size: 22px;
    }

    .input-email-submit-subscribe {
        width: 150px;
    }

    .footer {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .footer-text {
        font-size: 14px;
    }

}

@media (max-width: 320px) {

    .header__left {
        gap: 20px;
    }

    .product {
        max-width: 320px;
        margin: 0 30px 0 30px;
    }

    .promo {
        padding: 100px 0;
    }

    .promo__title {
        font-size: 28px;
    }

    .promo__heading {
        font-size: 14px;
    }
}